#color-palette {

}

.color {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.blackBox {
    background-color: black;
}

.redBox {
    background-color: red;
}

.greenBox {
    background-color: green;
}

.blueBox {
    background-color: blue;
}

.pixel {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    padding: 0;
    background-color: white;
}